body {
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    background: url(https://images.moneycontrol.com/static-mcnews/2021/07/Zomato-IPO-1.jpg?impolicy=website&width=1600&height=900 ) ;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}